.ess-container {

    display: grid;
    grid-template-columns: 1fr 0.8fr;
    gap: 15px;
    margin: 20px 12px;
}

.ess-container * {
    /* apply to every item in ess container */
    gap: 12px;
    border-radius: 10px;
}


.ess-container .ess-left-section {
    display: grid;
    grid-template-rows: 1.4fr 0.8fr;
    /* 319 382 */
    gap: 13px;
}

.ess-container .ess-top-left {
    border-radius: 10px;
    border: 1px solid #2C2B2B;
    background: url('../assets/ess.jpg'), lightgray 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ess-container .ess-bottom-left {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.ess-container .ess-energy-meters {
    display: grid;
    grid-template-rows: .85fr 1fr;
    gap: 13px;
    width: 100%;

}

.ess-container .ess-energy-consumption-meter {
    background: #121212;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ess-container .ess-soc-meter {
    border-radius: 10px;
    border: 4px solid #868686;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ess-container .ess-stat-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 6px;
}

.ess-container .ess-stat-card {
    background: #121212;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 118px;
    height: 105px;

}

.ess-container .ess-right-section {
    display: grid;
    grid-template-rows: 110px 100px 185px auto auto;
    /* grid-template-rows: 0.15fr .136fr 0.186fr 0.2727fr 0.24fr; */
    grid-template-rows: calc(10px / 711 * 1fr) calc(105px / 711 * 1fr) calc(140px / 711 * 1fr) calc(186px / 711 * 1fr) calc(170px / 711 * 1fr);
    gap: 8px;
}


.ess-container .ess-right-row1 {
    border-radius: 10px;
    background: #121212;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ess-container .ess-right-row2 {
    border-radius: 10px;
    background: #141414;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
}

.ess-container .ess-right-row3 {
    border-radius: 10px;
    background: #585858;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 3px;
    margin-top: 10px;
}

.ess-container .ess-right-row3 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3px;
    padding-bottom: 8px;
}

.ess-container .ess-right-row-power-phase {
    border-radius: 10px 10px 0px 0px;
    background: #121212;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ess-container .ess-right-row-kW {
    background: #272728;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}

.ess-container .ess-right-row-kVA {
    border-radius: 0px 0px 10px 10px;
    background: #272728;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ess-container .ess-right-row-power-phase+.ess-right-row-kW {
    margin-top: 5px;
}

.ess-container .ess-right-row4 {
    display: grid;
    grid-template-rows: 55px 43px 43px 43px;
    gap: 2px;
    margin-top: 10px;
}

.ess-container .ess-voltage-current-phase-heading {
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #272728;
    background: #121212;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ess-container .ess-l1-phase {
    border: 1px solid #272728;
    background: #1D1D1E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ess-container .ess-l2-phase {
    border: 1px solid #272728;
    background: #272728;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ess-container .ess-l3-phase {
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #272728;
    background: #323233;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ess-container .ess-right-row5 {
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    background: #C8C7C7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ess-container .ess-notification-heading {
    display: flex;

    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;

    color: #4A4A4A;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 11px;
    margin-left: 11px;
}

.ess-container .ess-notification-table {
    display: grid;
    grid-template-rows: 33px 33px 33px;
    padding: 5px;
    grid-row-gap: 10px;
    gap: 15px;
}

.ess-container .ess-notification-table-heading {
    background: #010D25;
    border-radius: 0px;
}

.ess-container .ess-notification-table-row-1 {
    background: #FFF;
    border-radius: 0px;
}

.ess-container .ess-notification-table-row-2 {
    background: #FFF;
    border-radius: 0;
}

.ess-container .ess-notification-table-row-1+.ess-notification-table-row-2 {
    margin-top: 0px;
    /* gap: 5px; */
}