.gensets-container {

    height: 87%;
    margin: 20px 15px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 10px;
    border: 1px solid white;
}

.gensets-container * {
    /* apply to every item in gensets container */
    gap: 12px;
    border-radius: 10px;
}

.gensets-container {
    .sections {
        border: 1px solid red;
        /* border-radius: 10px; */

    }

    #left-section {
        display: grid;
        grid-template-rows: 1.18fr 1fr;

        div {
            border: 1px solid blue;
        }

        .gensets-img-section {
            background: url("../assets/gensets.png");
            background-size: cover;
            background-position: center;
        }

        .gensets-meters-cards-section {
            display: grid;
            grid-template-columns: 1.4fr 1fr;

            .stats-cards {
                display: grid;
                grid-template-rows: repeat(3, 1.13fr);
                grid-template-columns: repeat(3, 1fr);
            }

            .meter-tables {
                display: grid;
                grid-template-rows: 1fr 1.17fr;
            }
        }
    }

    /* 55.5 + 43.44*3 */

    #right-section {
        display: grid;
        grid-template-rows: 106px 93px 127px 186px auto;
        gap: 8px;

        #row1 {
            /* border: 1px solid blue; */
            border-radius: 10px;
            background: #121212;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            position: relative;

            .titles-row-1 {
                display: flex;
                flex-direction: row;
                padding-top: 10px;
                align-items: center;
                justify-content: space-between;
                color: #FFF;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                div {
                    /* background-color: rebeccapurple; */
                    padding-left: 20px;
                }
            }

            .values-row-1 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                /* padding-top: 20px; */
                color: #FFF;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                div {
                    /* background-color: rebeccapurple; */
                    padding-left: 10px;
                    margin-left: 20px;
                }
            }
        }

        #row1::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translate(0%, 50%);
            width: 95%;
            height: 1px;
            background-color: #4A4A4A;
        }

        #row2 {
            background: url("../assets//health-index.png");
            background-size: contain;
            background-position: center;
        }

        #row3 {
            border-radius: 10px;
            background: #585858;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            padding: 5px;
            gap: 5px;

            .power-phase-headings {
                height: 35px;
                display: flex;
                flex-direction: row;
                grid-row: 1;
                /* padding-left: 20px; */
                /* padding-right: 20px; */
                padding: 0px 20px 0px 20px;
                justify-content: space-between;
                align-items: center;
                border-radius: 10px 10px 0px 0px;
                background: #121212;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            }

            .kW-phase-values,
            .kVA-phase-values {
                background: #272728;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                border-radius: 0px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0px 30px 0px 30px;
                /* border-radius: 10px 10px 0px 0px; */
                height: 35px;
                align-items: center;
            }
            .kVA-phase-values{
                border-radius: 0px 0px 10px 10px;
            }

        }
    }
}