.gensets-container {

    display: grid;
    grid-template-columns: 625px 521px;
    gap: 14px;
    margin: 18px 12px;
}

.gensets-container * {
    /* apply to every item in gensets container */
    gap: 12px;
    border-radius: 10px;
}


.gensets-container .gensets-left-section {
    display: grid;
    grid-template-rows: 374px auto;
    gap: 19px;
}

.gensets-container .gensets-top-left {
    border-radius: 10px;
    border: 1px solid #2C2B2B;
    background: url('../assets/gensets.png'), lightgray 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gensets-container .gensets-bottom-left {
    display: grid;
    grid-template-columns: auto 257px;
}

.gensets-container .gensets-energy-meters {
    display: grid;
    grid-template-rows: 147px 172px;
    gap: 13px;

}

.gensets-container .gensets-energy-consumption-meter {
    background: #121212;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gensets-container .gensets-soc-meter {
    border-radius: 10px;
    border: 4px solid #868686;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gensets-container .gensets-stat-cards {
    display: grid;
    grid-template-columns: repeat(3, 118px);
    grid-template-rows: repeat(3, 105px);
    gap: 8px;
}

.gensets-container .gensets-stat-card {
    background: #121212;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.gensets-container .gensets-right-section {
    display: grid;
    grid-template-rows: 106px 93px 127px auto 169px;
    gap: 8px;
}


.gensets-container .gensets-right-row1 {
    border-radius: 10px;
    background: #121212;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gensets-container .gensets-right-row2 {
    border-radius: 10px;
    background: #141414;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gensets-container .gensets-right-row3 {
    border-radius: 10px;
    background: #585858;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gensets-container .gensets-right-row3 {
    display: grid;
    grid-template-rows: 35px 35px 35px;
    gap: 5px;
}

.gensets-container .gensets-right-row-power-phase {
    border-radius: 10px 10px 0px 0px;
    background: #121212;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gensets-container .gensets-right-row-kW {
    background: #272728;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}

.gensets-container .gensets-right-row-kVA {
    border-radius: 0px 0px 10px 10px;
    background: #272728;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gensets-container .gensets-right-row4 {
    display: grid;
    grid-template-rows: 55px 43px 43px 43px;
    gap: 2px;
}

.gensets-container .gensets-voltage-current-phase-heading {
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #272728;
    background: #121212;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gensets-container .gensets-l1-phase {
    border: 1px solid #272728;
    background: #1D1D1E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gensets-container .gensets-l2-phase {
    border: 1px solid #272728;
    background: #272728;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gensets-container .gensets-l3-phase {
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #272728;
    background: #323233;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gensets-container .gensets-right-row5 {
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    background: #C8C7C7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gensets-container .gensets-notification-heading {
    display: flex;
    width: 181.173px;
    height: 21.381px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;

    color: #4A4A4A;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 11px;
    margin-left: 11px;
}

.gensets-container .gensets-notification-table{
    display: grid;
    grid-template-rows: 33px 33px 33px;
    padding: 8px;
    grid-row-gap: 10px;
}

.gensets-container .gensets-notification-table-heading{
    background: #010D25;
    border-radius: 0px;
}

.gensets-container .gensets-notification-table-row-1{
    background: #FFF;
    border-radius: 0px;
}

.gensets-container .gensets-notification-table-row-2{
    background: #FFF;
    border-radius: 0;
}

.gensets-container .gensets-notification-table-row-1 + .gensets-notification-table-row-2{
    margin-top: 0px;
}