.overview-section {

    display: grid;
    grid-template-columns: auto auto;
    padding: 18px 21px;
    gap: 10px;
    border: 1px solid white;
}

.overview-section * {
    /* apply to every item in overview section */
    gap: 9px;
    border-radius: 10px;
}


.overview-section .sections {
    border: 1px solid red;
}

.overview-section #left-section {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
}

.overview-section #top-left {
    width: 582px;
    height: 386px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.overview-section .bottom-left-row-heading {
    width: 213px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.overview-section .bottom-left-row {
    height: 38.393px;
    width: 581.178px;
    display: flex;
    justify-content: flex-start;
    background: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}



.overview-section #energy-source {
    border-radius: 10px 10px 0px 0px;
    background: #121212;
}

.overview-section #solar-left,
#wind-left,
#biogas-left,
#ESS-left,
#gensets-left,
#mains-left {
    background: #FFF;
    border-radius: 0px;
    color: #4A4A4A;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.overview-section #bottom-left {
    display: grid;
    grid-template-rows: repeat(8, auto);
}


.overview-section #right-section {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

.overview-section #row1 {
    display: grid;
    grid-template-columns: 353px 206.14px;
}

.overview-section .row1-cards {
    border-radius: 10px;
    background: #121212;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.overview-section #bar-graph {
    height: 198px;

}

.overview-section #row2 {
    display: grid;
    grid-template-columns: 159.149px 395px;
    gap: 6px;

}

.overview-section .cards-vertical {
    display: grid;
    grid-template-rows: 110px 110px 110px;
    gap: 6px;
}

.overview-section .card-vertical {
    border-radius: 10px;
    background: #121212;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.overview-section .cards-horizontal {
    display: grid;
    grid-template-rows: 176px 162px;
}

.overview-section .top-cards {
    display: grid;
    grid-template-columns: 129px 129px 129px;
}

.overview-section .energy-SOC,
.alerts,
.savings {
    border-radius: 10px;
    background: #121212;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 176px;
}

.overview-section .pie-chart {
    height: 162px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.overview-section #row3 {
    display: grid;
    grid-template-columns: 277.136px 277.136px;
    gap: 8.86px;
}

.overview-section .power-table,
.avg-current {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.84px;

}

.overview-section .power-table-row,
.avg-current-row {
    height: 52.431px;
    width: 277.136px;
}

.overview-section #power-heading,
#avg-current-heading {
    border-radius: 10px 10px 0px 0px;
    background: #121212;
}

.overview-section #avg-power-kWh,
#avg-power-kVA,
#avg-voltage-l-l,
#avg-voltage-l-n {
    background: #272728;
}