.ess {
  top: 10%;
  left: 10%;
  height: 80vh;
  width: 90vw;
  width: 100%;
  flex: 1;
  /*pos-abs*/
  top: 50%;
  left: 50%;
  /*tt*/
  padding-top: 2vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  gap: 10px;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ess .section {
  border-radius: 10px;
}
.ess #left-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}
.ess .top-left {
  position: relative;
  position: relative;
  border-radius: 10px;
  background-image: url(../assets//ess-img.jpg);
  background-size: cover;
  background-position: center;
}
.ess .stats {
  background-color: rgba(255, 255, 255, 0.56);
  width: 192px;
  height: 50px;
  width: 100%;
  flex: 1;
  /*pos-abs*/
  bottom: 0;
  margin-left: 20px;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 50%;
}
.ess .bottom-left {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  border-radius: 10px;
}
.ess .box {
  border: 1px solid peachpuff;
  border-radius: 10px;
  color: white;
}
.ess #battery-temperature {
  grid-row: 0.5;
  grid-column: 0.5;
  background-color: #121313;
  border: 3px solid #878687;
}
.ess #utilization-factor {
  grid-row: 0.5;
  grid-column: 0.6666666667;
  background-color: #121313;
  border: 3px solid #878687;
}
.ess #alerts-shutdown {
  grid-row: 0.5;
  grid-column: 0.75;
  background-color: #121313;
  border: 3px solid #878687;
}
.ess #frequency {
  grid-row: 0.6666666667;
  grid-column: 0.5;
  background-color: #121313;
  border: 3px solid #878687;
}
.ess #hours-operated {
  grid-column: 0.6666666667;
  grid-row: 0.6666666667;
  background-color: #121313;
  border: 3px solid #878687;
}
.ess #power-used {
  grid-column: 0.75;
  grid-row: 0.6666666667;
  background-color: #121313;
  border: 3px solid #878687;
}
.ess #battery-voltage {
  grid-column: 0.5;
  grid-row: 0.75;
  background-color: #121313;
  border: 3px solid #878687;
}
.ess #charging-current {
  grid-column: 0.6666666667;
  grid-row: 0.75;
  background-color: #121313;
  border: 3px solid #878687;
}
.ess #discharging-current {
  grid-column: 0.75;
  grid-row: 0.75;
  background-color: #121313;
  border: 3px solid #878687;
}
.ess #energy-consumption {
  grid-column: 0.6666666667;
  grid-row: 0.3333333333;
  background-color: #121313;
  border: none;
}
.ess #meters {
  grid-column: 0.5714285714;
  grid-row: 0.25;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}
.ess .meter-row {
  flex: 1;
  display: flex;
  border-radius: 10px;
}
.ess .meter-table {
  flex: 1;
  border: 1px solid peachpuff;
  border-radius: 10px;
}
.ess #soc {
  border: 5px solid #878687;
  background-color: #fffefe;
}
.ess #right-section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1.7fr 1.7fr;
  padding: 0;
  border-radius: 10px;
  gap: 5px;
}
.ess .right-rows {
  border-radius: 10px;
  color: white;
}
.ess #operating-hour-table {
  background-color: #121313;
}
.ess #health-index {
  background-color: #121313;
}
.ess #power {
  background-color: #121313;
}
.ess #voltage-current {
  background-color: #121313;
}
.ess #notifications {
  background-color: #c8c6c6;
  color: #4a4b4b;
}
