*{
    background-color: rgb(74,75,75);
    padding: 10px;

}

.ess{
    top: 10%;
    left: 10%;
    height: 80vh;
    width: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    padding: 0;
    gap: 10px;

}

.section{
    border-radius: 10px;
}

#left-section{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0;
    gap: 5px;
}

.top-left{
    position: relative;
    padding: 0;
    border-radius: 10px;
    background-image: url(../assets//ess-img.jpg);
    background-size: cover;
    background-position: center;
}

.stats{
    background-color: rgba(255,255,255,0.56);
    width: 192px;
    height: 50px;
    position: absolute;
    bottom: 0;
    margin-left: 20px;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
   display: flex;
   flex-direction: column;
}



.bottom-left{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    border-radius: 10px;
    padding: 0px;
}

.box{
    border: 1px solid peachpuff;
    border-radius: 10px;
    color: white;
}

#battery-temperature{
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: rgb(18,19,19);
    border: 3px solid rgb(135,134,135);


}

#utilization-factor{
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: rgb(18,19,19);
    border: 3px solid rgb(135,134,135);



}

#alerts-shutdown{
    grid-row: 1/2;
    grid-column: 3/4;
    background-color: rgb(18,19,19);
    border: 3px solid rgb(135,134,135);



}


#frequency{
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: rgb(18,19,19);
    border: 3px solid rgb(135,134,135);



}


#hours-operated{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(18,19,19);
    border: 3px solid rgb(135,134,135);




}


#power-used{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: rgb(18,19,19);
    border: 3px solid rgb(135,134,135);



}


#battery-voltage{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: rgb(18,19,19);
    border: 3px solid rgb(135,134,135);



}


#charging-current{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: rgb(18,19,19);
    border: 3px solid rgb(135,134,135);



}


#discharging-current{
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: rgb(18,19,19);
    border: 3px solid rgb(135,134,135);


}

#energy-consumption{
    grid-column: 4/6;
    grid-row: 1/3;
    background-color: rgb(18,19,19);
    border: none;
}

#meters{
    grid-column: 4/7;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px;
    border: none;
}

.meter-row {
    flex: 1;
    display: flex;
    padding: 0;
    border-radius: 10px;

}

.meter-table {
    flex: 1;
    border: 1px solid peachpuff;
    border-radius: 10px;

}

#soc{
    border: 5px solid rgb(135,134,135);
    background-color: rgb(255,254,254);
}


#right-section{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1.7fr 1.7fr;
    padding: 0;
    border-radius: 10px;
    gap: 5px;
}

.right-rows{
    border-radius: 10px;
    color: white;
}

#operating-hour-table{
    background-color: rgb(18,19,19);

}

#health-index{
    background-color: rgb(18,19,19);

}

#power{
    background-color: rgb(18,19,19);

}

#voltage-current{
    background-color: rgb(18,19,19);

}


#notifications{
    background-color: rgb(200,198,198);
    color: rgb(74, 75, 75);
}



