.gensets {
  top: 10%;
  left: 10%;
  height: 80vh;
  width: 90vw;
  width: 100%;
  flex: 1;
  /*pos-abs*/
  top: 50%;
  left: 50%;
  /*tt*/
  padding: 5vw;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  gap: 10px;
}
.gensets .section {
  border-radius: 10px;
}
.gensets #left-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}
.gensets .top-left {
  position: relative;
  position: relative;
  ius: 10px;
  background-image: url(../assets/genset.png);
  background-size: cover;
  /* background-position: center center;
  */
}
.gensets .stats {
  background-color: rgba(255, 255, 255, 0.56);
  width: 192px;
  height: 50px;
  width: 100%;
  flex: 1;
  /*pos-abs*/
  bottom: 0;
  margin-left: 20px;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 50%;
}
.gensets .bottom-left {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  border-radius: 10px;
}
.gensets .box {
  border: 1px solid peachpuff;
  border-radius: 10px;
  color: white;
}
.gensets #battery-temperature {
  grid-row: 0.5;
  grid-column: 0.5;
  background-color: #121313;
  border: 3px solid #878687;
}
.gensets #utilization-factor {
  grid-row: 0.5;
  grid-column: 0.6666666667;
  background-color: #121313;
  border: 3px solid #878687;
}
.gensets #alerts-shutdown {
  grid-row: 0.5;
  grid-column: 0.75;
  background-color: #121313;
  border: 3px solid #878687;
}
.gensets #frequency {
  grid-row: 0.6666666667;
  grid-column: 0.5;
  background-color: #121313;
  border: 3px solid #878687;
}
.gensets #hours-operated {
  grid-column: 0.6666666667;
  grid-row: 0.6666666667;
  background-color: #121313;
  border: 3px solid #878687;
}
.gensets #power-used {
  grid-column: 0.75;
  grid-row: 0.6666666667;
  background-color: #121313;
  border: 3px solid #878687;
}
.gensets #battery-voltage {
  grid-column: 0.5;
  grid-row: 0.75;
  background-color: #121313;
  border: 3px solid #878687;
}
.gensets #charging-current {
  grid-column: 0.6666666667;
  grid-row: 0.75;
  background-color: #121313;
  border: 3px solid #878687;
}
.gensets #discharging-current {
  grid-column: 0.75;
  grid-row: 0.75;
  background-color: #121313;
  border: 3px solid #878687;
}
.gensets #energy-consumption {
  grid-column: 0.6666666667;
  grid-row: 0.3333333333;
  background-color: #121313;
  border: none;
}
.gensets #meters {
  grid-column: 0.5714285714;
  grid-row: 0.25;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}
.gensets .meter-row {
  flex: 1;
  display: flex;
  border-radius: 10px;
}
.gensets .meter-table {
  flex: 1;
  border: 1px solid peachpuff;
  border-radius: 10px;
}
.gensets #soc {
  border: 5px solid #878687;
  background-color: #fffefe;
}
.gensets #right-section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1.7fr 1.7fr;
  border-radius: 10px;
  gap: 5px;
}
.gensets .right-rows {
  border-radius: 10px;
  color: white;
}
.gensets #operating-hour-table {
  background-color: #121313;
}
.gensets #health-index {
  background-color: #121313;
}
.gensets #power {
  background-color: #121313;
}
.gensets #voltage-current {
  background-color: #121313;
}
.gensets #notifications {
  background-color: #c8c6c6;
  color: #4a4b4b;
}
