.mains {
  top: 10%;
  left: 10%;
  height: 90vh;
  width: 100vw;
  width: 100%;
  flex: 1;
  /*pos-abs*/
  top: 50%;
  left: 50%;
  /*tt*/
  padding: 2vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  gap: 10px;
}
.mains .section {
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}
.mains #left-section {
  /* border: 1px solid red;
  */
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}
.mains .top-left {
  position: relative;
  border-radius: 10px;
  background-image: url(../assets/mains.jpg);
  background-size: cover;
}
.mains .bottom-left {
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1.3fr 1fr;
  gap: 5px;
}
.mains .bottom-left-content {
  border-radius: 10px;
}
.mains #cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.mains .card {
  border-radius: 10px;
  border: 1px solid black;
  background-color: #111;
  

}
.mains #notifications {
  background-color: rgba(200, 199, 199, 1);
}
.mains #right-section {
  display: grid;
  grid-template-rows: 1fr 0.8fr 1fr 1.3fr;
}
.mains .rows {
  border-radius: 10px;
}
.mains #power-table {
  background-color: rgba(88, 88, 88, 1);
}
.mains #top-card {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 10px;
}
.mains .part {
  border-radius: 10px;
  background-color: #111;
}
.mains #stats-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}
.mains .kwh-saving {
  border-radius: 10px;
  background-color: #111;
}
.mains #voltage-current {
  background-color: #111;
}

.notification-grid{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.notification-grid-data{
  border: 0.5px solid black;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  grid-column: 1/10;
  grid-row: 1/2;
  font-weight: 600;
  
}

#notifications{
  position: relative;
}

#notifications h3{
  color: rgb(74,74,74);
  padding: 0;
  position: absolute;
  font-weight: 600;

}