.solar {
  top: 10%;
  left: 10%;
  height: 85vh;
  width: 90vw;
  width: 100%;
  flex: 1;
  /*pos-abs*/
  top: 50%;
  left: 50%;
  /*tt*/
  padding-top: 2vw;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  gap: 10px;
}
.solar .section {
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}
.solar #left-section {
  /* border: 1px solid red;
  */
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}
.solar .top-left {
  position: relative;
  border-radius: 10px;
  background-image: url(../assets/solar.jpg);
  background-size: cover;
  background-position: center center;
}
.solar .bottom-left {
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1.3fr 1fr;
  gap: 5px;
}
.solar .bottom-left-content {
  border-radius: 10px;
}
.solar #cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.solar .card {
  border-radius: 10px;
  border: 1px solid black;
  background-color: #111;
}
.solar #notifications {
  background-color: rgba(200, 199, 199, 1);
}
.solar #right-section {
  display: grid;
  grid-template-rows: 1fr 0.8fr 1fr 1.3fr;
}
.solar .rows {
  border-radius: 10px;
}
.solar #power-table {
  background-color: rgba(88, 88, 88, 1);
}
.solar #top-card {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 10px;
}
.solar .part {
  border-radius: 10px;
  background-color: #111;
}
.solar #stats-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}
.solar .kwh-saving {
  border-radius: 10px;
  background-color: #111;
}
.solar #voltage-current {
  background-color: #111;
}
