*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
  

}

html, body{
  height: 100%;
  width: 100%;
}

body{
  background-color: rgba(74, 74, 74, 1);
  color: white;
  display: flex;
}

#root{
  height: 100%;
  width: 100%;
}

