.table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
  margin-left: 50px;
}

.header {
  background-color: rgb(19,19,18);
  
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border-bottom: 5px solid rgb(73,73,73);
}

.data {
  text-align: left;
  padding: 10px;
  border-bottom: 5px solid rgb(73,73,73);
  background-color: white;
  color: black;

}

.total {
  background-color:white;
  color: black;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border-bottom: 5px solid rgb(73,73,73);
}

.firstRow {
  border-radius: 10px 10px 0px 0px;
}